.contentview {
    margin-bottom: 30px;

    .subscribe-wrapper {
        margin: 20px auto;
        width: 300px;
    }
    .showsubscribe {
        width: 300px;
    }
    #newsinput {
        width:200px;
        float: left;
        @include border-radius(4px 0px 0px 4px);
        border-right: none;
        display: none;
    }

    #newsbutton {
        width:100px;
        @include border-radius(0 4px 4px 0);
        display: none;
    }

    .columnimg {
        width:140px; height: 140px;
    }
    h2 {
        font-weight: 300;
    }
}