.container {
    .col-md-9 {
        margin-bottom: 30px;
        p {
            margin-top: 15px;
        }
    }
    .col-md-3 {
        .thumbnail {
            text-align: center;
            div {
                margin-top:5px;
            }
        }
        .list-group{
            margin-top:10px;
            .list-group-item{
                span {
                    float: right;
                }
            }
        }
    }
    #contactcontent{
        margin-top: 0px;
        display: none;
    }
}
@media (min-width: 1200px), (min-width: 992px) and (max-width: 1199px), (min-width: 768px) and (max-width: 991px) {
   .container .right {
        float: right;
   }
}
@media (max-width : 1000px) and
(min-width: 769px){
    .container .col-md-3 {
        width: 300px;
        display: inline-block;
        vertical-align: top;
    }
    .container {
        .col-md-9 {
            display: inline-block;
            width: 400px;
        }
    }
    .container .col-md-3 .img-responsive{
        height: 300px;
        width: 300px;
    }
}
@media (max-width : 768px){
    .container .col-md-3 .img-responsive{
        height: 300px;

    }
}