.header {
    height: inherit;
    overflow: visible;
    margin: 0 0 20px 0;
    width: 100%;
    padding: 0;    
    
    .header-title{
        font-size: 2em;
        text-align: center;
        color: #115725;
    }
    .textcenter {
        min-width: inherit;
        text-align: center;
        padding-top: 5px;
    }
    .navbar {
        height: 100px;
        padding: 5px 15px;
        white-space: nowrap;
        min-width: inherit;
        margin-bottom: 0px;
        border: 0px;
        border-bottom: 1px solid $defaultborderGrey !important;
        @include border-radius(0);
    }
    .navbar-right {
        margin: 0 5px 4px -75px;
        padding-right: 10px !important;
    }
    .navbar-brand {
        padding: 5px;
        margin-left: 5px;
        position: absolute;
        padding: 0px 5px 5px 5px;
    }
    .navbar .navbar-nav {
        font-family: HelveticaNeueThin;
        display: inline-block;
        float: none;
        font-size: 0.9em;
        vertical-align: middle;
        .open>a {
            background-color: #f8f8f8;
        }
    }
    .navbar-collapse {
        text-align: center;
                @media (min-width: 1200px),
                    (min-width: 992px) and (max-width: 1199px){
                    margin: 30px;
                }
                @media (min-width: 768px) and (max-width: 991px) {
                    margin: 30px 0 30px 30px;
                    padding: 0;
                }        

        .navbar-nav>li{
            ul>li{
                a {
                    font-size: 14px;
                    color: black;
                    font-weight: 200;
                }  
                a:hover {
                    color: black;
                    font-weight: 200;                    
                }
            }
            a {
                @media (min-width: 1200px),
                    (min-width: 992px) and (max-width: 1199px){
                    font-size: 22px;
                }
                @media (min-width: 768px) and (max-width: 991px) {
                    font-size: 17px;
                }
                
                font-weight: 100;
            }
            a:hover{
                color: rgb(38, 163, 7);
            }
            &.active {
                color: rgb(38, 163, 7);
            }
        }
        .navbar-nav .open{
            .dropdown-menu {
                -webkit-transform: scale(1, 1);
                transform: scale(1, 1);
            }
            .dropdown-toggle {
                color: rgb(38, 163, 7);
                @include border-top-radius(5px);
            }
        }
    }
    .navbar-nav>li>a{
        padding: 5px 10px;
        color: black;
    }

    @media (min-width: 1200px),
        (min-width: 992px) and (max-width: 1199px),
        (min-width: 768px) and (max-width: 991px) {
        /*
         * set fixed max and min size for the following screens
         *
         * big screen min: 1200px
         * Portrait tablets and medium desktops min: 992px max: 1199px
         * Portrait tablets and small desktops min: 768 max: 991
         */
        .navbar-brand {
            min-height: 90px;
            max-height: 90px;
        }
    }

    @media (min-width: 1200px),
        (min-width: 992px) and (max-width: 1199px),
        (min-width: 768px) and (max-width: 991px) {
        /*
         * hide dropdown menu for the following screens
         *
         * big screen min: 1200px
         * Portrait tablets and medium desktops min: 992px max: 1199px
         * Portrait tablets and small desktops min: 768 max: 991
         */
        .collapse.in {
            display: none !important;
        }
    }

    @media (max-width: 767px),
        (max-width: 480px) {
        /*
         *set properties for small displays
         *
         *Landscape phones and portrait tablets max: 767px
         *Landscape phones and smaller max: 480px
         *
         */
        .navbar-brand {
            min-height: 80px;
            max-height: 80px;
        }
        .navbar {
            height: 90px;
        }
        .navbar-toggle {
            position: relative;
            margin-top: 20px;
        }
        .header-title {
            margin-left: -55px !important;
            font-size: 2.5em !important;
        }
    }
    .dropdownmenu {
        text-align: center;
        background-color: #fbfbfb;
        .nav>li>a{
            outline: none;
            padding: 5px 10px;
            color: black;
            font-weight: 200;
        }
        .nav li .nav{
            border-top: 1px solid $defaultborderGrey;

            li a {
                color: rgb(38, 163, 7);
                font-weight: 200;
                padding: 4px 10px;
            }
        }
        ul>li {
            border-bottom: 1px solid $defaultborderGrey;
            list-style-position: inside;
        }

    }
}