Options -Indexes

ErrorDocument 404 /Demeter/Webclient/404.php
ErrorDocument 403 http://tvsloten.com/Demeter/Webclient/403.php

#RewriteEngine On

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d

#RewriteRule ^(.*)$ default.php?url=$1 [PT,L]
