.header {
  min-width: 330px;
  height: inherit;
  overflow: auto;
  margin: 0;
  width: 100%;
  padding: 0; }
  .header .input-group {
    padding: 0 0 0 30px;
    min-width: 100px;
    white-space: nowrap;
    max-width: 250px; }
    .header .input-group .glyphicon glyphicon-search {
      padding: 1px 0; }
    .header .input-group .form-control {
      height: 28px; }
    .header .input-group .btn {
      padding: 3px 10px; }
  .header .header-title {
    font-size: 1.5em;
    margin-left: 90px; }
  .header .textcenter {
    min-width: inherit;
    text-align: center;
    padding-top: 5px; }
  .header .navbar {
    padding: 5px 15px;
    white-space: nowrap;
    min-width: inherit;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1030; }
  .header .navbar-right {
    margin: 0 10px 4px -75px;
    padding-right: 10px !important; }
  .header .navbar-brand {
    padding: 5px 5px;
    margin: -10px 5px; }
  .header .navbar .navbar-nav {
    display: inline-block;
    float: none;
    margin-left: 90px;
    font-size: 0.8em; }
  .header .navbar-nav > li > a {
    padding: 5px 10px; }
  @media (min-width: 1200px), (min-width: 992px) and (max-width: 1199px), (min-width: 768px) and (max-width: 991px) {
    .header {
      /*
       * set fixed max and min size for the following screens
       *
       * big screen min: 1200px
       * Portrait tablets and medium desktops min: 992px max: 1199px
       * Portrait tablets and small desktops min: 768 max: 991
       */ }
      .header .navbar-brand {
        min-width: 75px;
        min-height: 75px;
        max-width: 75px;
        max-height: 75px; } }
  @media (min-width: 1200px), (min-width: 992px) and (max-width: 1199px), (min-width: 768px) and (max-width: 991px) {
    .header {
      /*
       * hide dropdown menu for the following screens
       *
       * big screen min: 1200px
       * Portrait tablets and medium desktops min: 992px max: 1199px
       * Portrait tablets and small desktops min: 768 max: 991
       */ }
      .header .collapse.in {
        display: none !important; } }
  @media (max-width: 767px), (max-width: 480px) {
    .header {
      /*
       *set properties for small displays
       *
       *Landscape phones and portrait tablets max: 767px
       *Landscape phones and smaller max: 480px
       *
       */ }
      .header .navbar-brand {
        min-width: 50px;
        min-height: 50px;
        max-width: 50px;
        max-height: 50px;
        margin-top: -7px !important; }
      .header .header-title {
        margin-left: -60px !important;
        font-size: 1.5em !important; }
      .header .header-label {
        margin-top: 55px !important; } }
  .header .header-label {
    overflow: hidden;
    width: 100%;
    text-align: center;
    margin-top: 81px; }
    .header .header-label .dropdownmenu {
      width: 100%; }
    .header .header-label .nav-lable-style {
      min-width: 110px;
      max-width: 320px;
      height: 30px;
      background-color: #e7e7e7;
      display: inline-block;
      white-space: nowrap;
      padding: 7px 20px 0 20px;
      font-size: 0.9em;
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
      -moz-border-radius-bottomleft: 50px;
      -moz-border-radius-bottomright: 50px;
      -webkit-border-radius-bottomleft: 50px;
      -webkit-border-radius-bottomright: 50px; }
    .header .header-label .empty {
      height: 40px; }
    .header .header-label .submenu {
      margin-top: -38px !important;
      background-color: #f8f8f8;
      margin-bottom: 38px; }
    .header .header-label .collapsing {
      position: static !important; }
    .header .header-label .submenu > ul > li {
      border-bottom: 1px solid #e7e7e7;
      list-style-position: inside; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 175px;
  background-color: #f5f5f5;
  border-top: 1px solid #EEE; }
  .footer .footerleft {
    margin: 5px 0 0 50px;
    color: #666666;
    background-color: #f5f5f5; }
  .footer .footerimgwrapper {
    height: 70px;
    width: 70px;
    float: right;
    margin-top: 25px; }
  .footer .footerimg {
    height: 70px;
    width: 70px; }
  .footer .footerpower {
    text-align: center;
    margin-top: 15px;
    color: #999; }

.myCarousel {
  padding: 0 25px; }
  .myCarousel .carousel {
    min-height: 250px;
    max-height: 250px; }
    .myCarousel .carousel .carousel-control {
      color: rgba(31, 131, 197, 0.6); }
      .myCarousel .carousel .carousel-control.left {
        background-image: linear-gradient(to right, rgba(31, 131, 197, 0.6) 0, rgba(0, 0, 0, 0.0001) 100%) !important;
        border-bottom-left-radius: 25px;
        border-top-left-radius: 25px;
        -moz-border-radius-bottomleft: 25px;
        -moz-border-radius-topleft: 25px;
        -webkit-border-radius-bottomleft: 25px;
        -webkit-border-radius-topleft: 25px; }
        .myCarousel .carousel .carousel-control.left .glyphicon {
          margin-left: -15px !important; }
      .myCarousel .carousel .carousel-control.right {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, rgba(31, 131, 197, 0.6) 100%);
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;
        -moz-border-radius-bottomright: 25px;
        -moz-border-radius-topright: 25px;
        -webkit-border-radius-bottomright: 25px;
        -webkit-border-radius-topright: 25px; }
        .myCarousel .carousel .carousel-control.right .glyphicon {
          margin-right: -15px !important; }
  .myCarousel .carousel-indicators {
    margin-bottom: 0 !important; }
    .myCarousel .carousel-indicators li {
      border-color: #1f83c5; }
    .myCarousel .carousel-indicators .active {
      background-color: #1f83c5;
      opacity: 0.6; }

html {
  font-size: 10px;
  /* sticky footer style */
  position: relative;
  min-height: 100%; }

body {
  /*
   * Margin bottom by footer height
   */
  margin-bottom: 175px; }

/* main page css needs to be placed somewhere else */
.subscribe-wrapper {
  margin: 20px auto;
  width: 300px; }

.showsubscribe {
  width: 300px; }

#newsinput {
  width: 200px;
  float: left;
  border-radius: 4px 0px 0px 4px;
  -moz-border-radius: 4px 0px 0px 4px;
  -webkit-border-radius: 4px 0px 0px 4px;
  border-right: none;
  display: none; }

#newsbutton {
  width: 100px;
  border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
  display: none; }

.columnsize {
  margin-bottom: 40px; }

.columnimg {
  width: 140px;
  height: 140px; }
