@import 'utils.scss';
@import 'baseComponents/header/header.scss';
@import 'baseComponents/footer/footer.scss';
@import 'baseComponents/carousel/carousel.scss';
html {
    font-size: 10px;
    min-width: 382px;
    
    /* sticky footer style */
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 175px;
}

/* main page css needs to be placed somewhere else */
.subscribe-wrapper {
    margin: 20px auto;
    width: 300px;
}
.showsubscribe {
    width: 300px;
}
#newsinput {
    width:200px;
    float: left;
    border-radius: 4px 0px 0px 4px;
    -moz-border-radius: 4px 0px 0px 4px;
    -webkit-border-radius: 4px 0px 0px 4px;
    border-right: none;
    display: none;
}

#newsbutton {
    width:100px;
    border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    display: none;
}

.columnsize{
    margin-bottom: 40px;
}
.columnimg {
    width:140px; height: 140px;
}