/* the grey collor used for the header, footer and header-submenu border and background */
.header {
  height: inherit;
  overflow: visible;
  margin: 0 0 20px 0;
  width: 100%;
  padding: 0;
  /*.input-group{
      padding: 0 0 0 30px;
      min-width: 100px; 
      white-space: nowrap;
      max-width: 230px;
      .glyphicon glyphicon-search{
          padding: 1px 0;
      }
      .form-control {
          height: 28px;
      }
      .btn{
          padding: 3px 10px;
      }
  }*/ }
  .header .header-title {
    font-size: 2em;
    text-align: center;
    color: #115725; }
  .header .textcenter {
    min-width: inherit;
    text-align: center;
    padding-top: 5px; }
  .header .navbar {
    padding: 5px 15px;
    white-space: nowrap;
    min-width: inherit;
    margin-bottom: 0px;
    border: 0px;
    background-color: #e2deda;
    border-bottom: 1px solid #a3a3a3 !important;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0; }
  .header .navbar-right {
    margin: 0 5px 4px -75px;
    padding-right: 10px !important; }
  .header .navbar-brand {
    padding: 5px;
    margin-left: 5px;
    position: absolute;
    padding: 0px 5px 5px 5px; }
  .header .navbar .navbar-nav {
    display: inline-block;
    float: none;
    font-size: 0.9em; }
  .header .navbar-collapse {
    text-align: center; }
    .header .navbar-collapse .navbar-nav > li {
      margin: 0 3px;
      border-radius: 10px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px; }
      .header .navbar-collapse .navbar-nav > li:hover {
        background-color: #dba764 !important; }
      .header .navbar-collapse .navbar-nav > li.active {
        background-color: #dba764 !important; }
    .header .navbar-collapse .navbar-nav .open .dropdown-menu {
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
      border-top-right-radius: 5px;
      -moz-border-top-right-radius: 5px;
      -webkit-border-top-right-radius: 5px; }
    .header .navbar-collapse .navbar-nav .open .dropdown-toggle {
      color: black;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      -moz-border-radius-topleft: 10px;
      -moz-border-radius-topright: 10px;
      -webkit-border-radius-topleft: 10px;
      -webkit-border-radius-topright: 10px;
      background-color: #dba764 !important; }
  .header .navbar-nav > li > a {
    padding: 5px 10px;
    color: black; }
  @media (min-width: 1200px), (min-width: 992px) and (max-width: 1199px), (min-width: 768px) and (max-width: 991px) {
    .header {
      /*
       * set fixed max and min size for the following screens
       *
       * big screen min: 1200px
       * Portrait tablets and medium desktops min: 992px max: 1199px
       * Portrait tablets and small desktops min: 768 max: 991
       */ }
      .header .navbar-brand {
        /*min-width: 75px;
        min-height: 75px;
        max-width: 75px;
        max-height: 75px;*/
        min-height: 90px;
        max-height: 90px; } }
  @media (min-width: 1200px), (min-width: 992px) and (max-width: 1199px), (min-width: 768px) and (max-width: 991px) {
    .header {
      /*
       * hide dropdown menu for the following screens
       *
       * big screen min: 1200px
       * Portrait tablets and medium desktops min: 992px max: 1199px
       * Portrait tablets and small desktops min: 768 max: 991
       */ }
      .header .collapse.in {
        display: none !important; } }
  @media (max-width: 767px), (max-width: 480px) {
    .header {
      /*
       *set properties for small displays
       *
       *Landscape phones and portrait tablets max: 767px
       *Landscape phones and smaller max: 480px
       *
       */ }
      .header .navbar-brand {
        min-width: 50px;
        min-height: 50px;
        max-width: 50px;
        max-height: 50px;
        margin-top: -7px !important; }
      .header .header-title {
        margin-left: -55px !important;
        font-size: 2.5em !important; } }
  .header .dropdownmenu {
    overflow: hidden;
    text-align: center;
    width: 100%;
    background-color: #f8f8f8; }
    .header .dropdownmenu .nav > li > a {
      padding: 5px 10px;
      color: black; }
      .header .dropdownmenu .nav > li > a:hover {
        background-color: #dba764 !important; }
    .header .dropdownmenu .nav li .nav {
      border-top: 1px solid #a3a3a3; }
      .header .dropdownmenu .nav li .nav li a {
        background-color: rgba(219, 167, 100, 0.46);
        padding: 4px 10px; }
    .header .dropdownmenu ul > li {
      border-bottom: 1px solid #a3a3a3;
      list-style-position: inside; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #115725;
  border-top: 1px solid #a3a3a3; }
  .footer .container {
    text-align: center;
    color: #666666; }
  .footer .alignment {
    width: 200px;
    display: inline-block;
    text-align: start;
    padding: 7px 10px 0px 10px;
    height: 140px;
    overflow: hidden;
    margin: 10px 20px -10px 20px; }
    .footer .alignment .list-unstyled {
      margin-left: 20px; }
      .footer .alignment .list-unstyled a {
        color: #C4BA00; }
      .footer .alignment .list-unstyled a:hover {
        color: #00B116;
        text-decoration: none; }
      .footer .alignment .list-unstyled a:active {
        color: #55B155; }
    .footer .alignment h4 {
      border-bottom: 1px solid #CCC;
      text-align: center;
      padding-bottom: 8px;
      color: #C4BA00; }
  .footer .footerleft {
    margin: 5px 0 0 35px; }
  .footer .footerwrapper {
    text-align: center; }
  .footer .footerimg {
    margin-top: 15px;
    height: 70px;
    width: 70px; }
  .footer .footerpower {
    text-align: center;
    margin-top: 15px;
    color: #999; }
  .footer .mediabutton {
    opacity: 0.8;
    width: 30px;
    height: 30px;
    margin: 0 5px 0 5px; }
  .footer .mediabutton:hover {
    opacity: 1; }

.myCarousel {
  padding: 0; }
  .myCarousel .carousel {
    min-height: 250px;
    max-height: 250px;
    padding: 0;
    background-color: white;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px; }
    .myCarousel .carousel .carousel-inner {
      width: 100%;
      border-radius: 25px;
      -moz-border-radius: 25px;
      -webkit-border-radius: 25px; }
      .myCarousel .carousel .carousel-inner .item {
        border-radius: 25px;
        -moz-border-radius: 25px;
        -webkit-border-radius: 25px;
        width: 100%; }
    .myCarousel .carousel .carousel-control {
      color: white;
      width: 80px; }
      .myCarousel .carousel .carousel-control.left {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.0001) 100%);
        border-bottom-left-radius: 25px;
        border-top-left-radius: 25px;
        -moz-border-radius-bottomleft: 25px;
        -moz-border-radius-topleft: 25px;
        -webkit-border-radius-bottomleft: 25px;
        -webkit-border-radius-topleft: 25px; }
        .myCarousel .carousel .carousel-control.left .glyphicon {
          margin-left: -15px !important; }
      .myCarousel .carousel .carousel-control.right {
        background-image: linear-gradient(to left, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.0001) 100%);
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;
        -moz-border-radius-bottomright: 25px;
        -moz-border-radius-topright: 25px;
        -webkit-border-radius-bottomright: 25px;
        -webkit-border-radius-topright: 25px; }
        .myCarousel .carousel .carousel-control.right .glyphicon {
          margin-right: -15px !important; }
  .myCarousel .carousel-indicators {
    margin-bottom: 0 !important; }
    .myCarousel .carousel-indicators li {
      border-color: rgba(247, 139, 23, 0.82); }
    .myCarousel .carousel-indicators .active {
      background-color: rgba(247, 139, 23, 0.82);
      opacity: 0.6; }

.contentview .workshopsHeader {
  background-color: rgba(247, 139, 23, 0.49);
  height: 170px;
  padding: 10px 10px;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px; }
  .contentview .workshopsHeader .header-left {
    height: 150px;
    overflow: hidden;
    padding: 5px; }
  .contentview .workshopsHeader .header-right {
    text-align: end;
    padding: 2px; }
    .contentview .workshopsHeader .header-right .imgPlaceholder {
      height: 128px;
      width: 130px;
      margin-top: 10px;
      border-radius: 90px;
      -moz-border-radius: 90px;
      -webkit-border-radius: 90px; }
.contentview .workshopsList {
  background-color: rgba(247, 139, 23, 0.49);
  height: 480px;
  padding: 0;
  margin-top: 35px;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px; }
  .contentview .workshopsList .listHeader {
    height: 50px;
    border-bottom: 3px solid white;
    padding: 10px 15px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    -moz-border-radius-topleft: 25px;
    -moz-border-radius-topright: 25px;
    -webkit-border-radius-topleft: 25px;
    -webkit-border-radius-topright: 25px; }
    .contentview .workshopsList .listHeader .btn-group {
      color: grey; }
      .contentview .workshopsList .listHeader .btn-group .btn-default {
        height: 28px !important; }
    .contentview .workshopsList .listHeader .searchpanel {
      padding: 0;
      text-align: end;
      z-index: 1; }
      .contentview .workshopsList .listHeader .searchpanel .input-group {
        width: 175px;
        display: inline-table;
        text-align: start; }
        .contentview .workshopsList .listHeader .searchpanel .input-group .form-control {
          height: 28px !important; }
      .contentview .workshopsList .listHeader .searchpanel .btn-default {
        padding: 3px 10px !important; }
  .contentview .workshopsList .listPlaceholder {
    height: 100%;
    margin-top: -50px;
    padding: 50px 0; }
    .contentview .workshopsList .listPlaceholder .listContent {
      height: 100%;
      border-bottom: 3px solid white;
      overflow-y: auto;
      padding: 5px 13px; }
      .contentview .workshopsList .listPlaceholder .listContent .container {
        background-color: rgba(179, 110, 35, 0.2);
        padding: 10px 10px;
        margin: 5px 0; }
        .contentview .workshopsList .listPlaceholder .listContent .container .item-left {
          height: 110px;
          overflow: hidden;
          padding: 5px; }
        .contentview .workshopsList .listPlaceholder .listContent .container .item-right {
          text-align: end;
          padding: 2px; }
          .contentview .workshopsList .listPlaceholder .listContent .container .item-right .imgPlaceholder {
            height: 108px;
            width: 110px;
            border-radius: 90px;
            -moz-border-radius: 90px;
            -webkit-border-radius: 90px; }

.contentview {
  margin-bottom: 30px; }
  .contentview .subscribe-wrapper {
    margin: 20px auto;
    width: 300px; }
  .contentview .showsubscribe {
    width: 300px; }
  .contentview #newsinput {
    width: 200px;
    float: left;
    border-radius: 4px 0px 0px 4px;
    -moz-border-radius: 4px 0px 0px 4px;
    -webkit-border-radius: 4px 0px 0px 4px;
    border-right: none;
    display: none; }
  .contentview #newsbutton {
    width: 100px;
    border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    display: none; }
  .contentview .columnimg {
    width: 140px;
    height: 140px; }

.contentview .contactView .formPlaceholder {
  margin-top: 0px; }

.contentview .voorwaarden .lijstje > li {
  background-color: rgba(247, 139, 23, 0.49);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 3px 15px 3px 15px;
  margin: 5px; }

.contentview .tarieven .clear-padding {
  padding-left: 0;
  padding-right: 0; }
.contentview .tarieven .panel.panel-default {
  border-color: rgba(247, 139, 23, 0.49);
  overflow: hidden; }
  .contentview .tarieven .panel.panel-default .panel-heading {
    background-color: rgba(247, 139, 23, 0.49); }
  .contentview .tarieven .panel.panel-default .noMoreTables {
    margin-bottom: -23px; }
    @media (max-width: 480px) {
      .contentview .tarieven .panel.panel-default .noMoreTables {
        /*
         * this media query forces the table display to a non table,
         * so it fits into display as a list
         */ }
        .contentview .tarieven .panel.panel-default .noMoreTables .noBtn {
          display: none !important; }
        .contentview .tarieven .panel.panel-default .noMoreTables table, .contentview .tarieven .panel.panel-default .noMoreTables thead, .contentview .tarieven .panel.panel-default .noMoreTables tbody, .contentview .tarieven .panel.panel-default .noMoreTables th {
          display: block; }
        .contentview .tarieven .panel.panel-default .noMoreTables thead tr {
          display: none !important; }
        .contentview .tarieven .panel.panel-default .noMoreTables tr {
          display: block;
          border: 1px solid #ccc; }
        .contentview .tarieven .panel.panel-default .noMoreTables td {
          display: block !important;
          /* Behave  like a "row" */
          border: none;
          border-bottom: 1px solid #eee;
          position: relative;
          padding-left: 50% !important;
          white-space: normal;
          text-align: left; }
          .contentview .tarieven .panel.panel-default .noMoreTables td:before {
            /* label */
            content: attr(data-title);
            /* list header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
            text-align: left;
            font-weight: bold;
            overflow: hidden;
            text-overflow: ellipsis; } }
    .contentview .tarieven .panel.panel-default .noMoreTables .table {
      table-layout: fixed; }
      .contentview .tarieven .panel.panel-default .noMoreTables .table .fixedwidth {
        width: 50px; }
      .contentview .tarieven .panel.panel-default .noMoreTables .table thead {
        background-color: rgba(247, 139, 23, 0.49) !important; }
      .contentview .tarieven .panel.panel-default .noMoreTables .table th, .contentview .tarieven .panel.panel-default .noMoreTables .table td {
        padding: 8px 10px 8px 10px; }
      .contentview .tarieven .panel.panel-default .noMoreTables .table .hiddenRow {
        padding: 0 !important;
        border-bottom: 0px !important; }
      .contentview .tarieven .panel.panel-default .noMoreTables .table .contextPlaceholder {
        background-color: rgba(238, 144, 24, 0.27);
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px; }
      .contentview .tarieven .panel.panel-default .noMoreTables .table .accordion-inner {
        padding: 10px 15px 10px 15px; }
      .contentview .tarieven .panel.panel-default .noMoreTables .table .collapseBtn {
        cursor: pointer;
        border-radius: 90px;
        width: 30px;
        background-color: #d1ceca; }
        .contentview .tarieven .panel.panel-default .noMoreTables .table .collapseBtn .btnLbl {
          display: inline-block;
          width: 5px;
          height: 5px;
          border: 5px solid transparent;
          border-top-color: rgba(141, 133, 133, 0.81);
          margin-bottom: -3px;
          margin-left: 10px; }
        .contentview .tarieven .panel.panel-default .noMoreTables .table .collapseBtn:hover {
          background-color: rgba(231, 132, 25, 0.59) !important; }

@media (max-width: 992px) {
  .thumbnail {
    display: none; } }
/* 
    Created on : Aug 17, 2014, 3:31:25 PM
    Author     : TVS
*/
.productlink .productcontainer {
  margin-top: 10px;
  border-bottom: 3px solid #999900;
  border-top: 1px solid #FFFFFF;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF; }
  .productlink .productcontainer .productimg {
    max-width: 75% !important;
    margin: 0 auto !important; }
  .productlink .productcontainer .producttext {
    width: 90%;
    margin: 0 auto; }
    .productlink .productcontainer .producttext .producttitle {
      color: #767617;
      font-weight: bold; }
    .productlink .productcontainer .producttext .productdescription {
      color: #606060; }

.productlink:hover {
  text-decoration: none; }
  .productlink:hover .productcontainer:hover {
    border-left: 1px solid #999900;
    border-top: 1px solid #999900;
    border-right: 1px solid #999900; }

html {
  font-size: 10px;
  min-width: 360px;
  /* sticky footer style */
  position: relative;
  min-height: 100%; }

.noPadding {
  padding: 0 !important; }

.contentview .titlePlaceholder {
  margin-bottom: 30px; }
  .contentview .titlePlaceholder .title {
    margin: 0;
    border-bottom: 1px solid rgba(34, 177, 76, 0.49); }

#contentOverlay {
  position: fixed;
  width: 100%;
  z-index: 10001 !important; }

#contentOverlay .myCarousel .carousel {
  position: absolute; }

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
  z-index: 10000; }
