.footer {
	position: absolute;
	bottom: 0;
	width: 100%;

	background-color: #f5f5f5;
	border-top: 1px solid #EEE;
	.container {
		text-align: center;
		color: #666666;
	}
	.alignment {
		display: inline-block;
		text-align: start;
	}
	.footerleft {
		margin: 5px 0 0 35px;
	}
	.footerimgwrapper {
		height: 70px;
		width: 70px;
		float:right;
		margin-top: 25px;
	}
	.footerimg {
		height: 70px;
		width: 70px;
	}
	.footerpower {
		text-align: center;
		margin-top: 15px;
		color: #999;
	}
}