#owl-demo {
    width: 85%;
    margin: 0 auto;
}
#owl-demo .item{
    margin: 3px;
    position: absolute;
    margin: 0 auto;
    top: 50%;
    @include translateY(-50%);
}
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
    max-height:250px;
    min-height: 150px;
}
.owl-item  {
    height:250px;
}
.owl-item.loading {
min-height: 0;
}
.owl-controls {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 30px;
}
.owl-pagination {
    position: absolute;
    left: 50%;
    @include translateX(-50%);
}
.owl-prev, .owl-next {
    position: absolute;
    top: 50%;
    @include translate(0,-75%);
}
.owl-prev {
left: -45px;
}
.owl-next {
left: auto;
right: -45px;

}