.myCarousel {
	padding: 0;
	.carousel {
		min-height: 250px;
		max-height: 250px;

		padding: 0;

		background-color: white;
		@include border-radius(25px);
		.carousel-inner {
			width: 100%;
			@include border-radius(25px);
			.item {
				@include border-radius(25px);
				width:100%;
			}
		}

		.carousel-control {
			color: rgba(255, 255, 255, 1);
			width: 80px;
			&.left {
				background-image: linear-gradient(to right, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.0001) 100%);
				@include border-left-radius(25px);
				& .glyphicon {
					margin-left: -15px !important;
				}
			}
			&.right {
				background-image: linear-gradient(to left, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.0001) 100%);
				@include border-right-radius(25px);
				& .glyphicon {
					margin-right: -15px !important;
				}
			}
		}
	}
	.carousel-indicators {
		margin-bottom: 0 !important;
		li {
			border-color: rgba(247, 139, 23, 0.82);
		}
		.active {
			background-color: rgba(247, 139, 23, 0.82);
			opacity:0.6;
		}
	}
}
